output/
lib/
site-packages*/
venv/
old/
exclude/
share/
target/
*output*/
*pycache*/
python*/
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
*.rar
*.7z
*.exe
*.msi
*.apk
*.jar
*.war
*.ear
*.pyc
*.pyo
*.whl
*.dylib
*.so
